In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline

In [2]:
df = pd.read_csv('editori.csv', 
                 names=['Editore', 'Frequenza'], header=0, skiprows=[1])

In [3]:
# Ampiezza catalogo dei libri adottati
df.Frequenza.sum()

100224

In [5]:
df.head()

                                    Editore  Frequenza
0                                Agorà & Co         12
1                              Artech House         33
2      Associação Nacional de Pós Graduação          1
3   CIE Inversiones Editoriales Dossat-2000          1
4                                   Catedra         90

In [4]:
# numero editori censiti
df.count()

Editore      7629
Frequenza    7629
dtype: int64

In [ ]:
df.iloc[:,0]
df['Editore'].is_unique
df2 = df['Editore'].str.contains('De Gruyter').sum()

In [ ]:
ad = pd.read_csv('A14_SPS-06.csv', sep=";")

In [ ]:
adnuovo = pd.read_csv('area16_sps6.csv', sep=";")

In [ ]:
ad.info()

In [ ]:
to_drop = ['laurea_tipo', 'a_a', 'laurea_classe_cod', 'curr_nome', 
           'curr_materia_anno', 'curr_materia_periodo', 'modulo_nome', 'sub_modulo_gruppo', 
           'sub_modulo_nome', 'modulo_cfu', 'modulo_periodo', 'materia_ssd_cod', 'insegnamento_prof_www',
          'traduttori', 'lingua', 'testo_uso', 'testo_freq', 'edizione', 'laurea_nome']
ad.drop(to_drop, inplace=True, axis=1)

In [ ]:
ad2 = ad[['materia_nome','editore','testo_obb']].groupby(['editore'])['materia_nome'] \
                             .count() \
                             .reset_index(name='count') \
                             .sort_values('count',ascending=False)

In [ ]:
#ad2 = ad.sort_values('editore', axis=0, ascending=True, inplace=False, kind='quicksort', na_position='last')

In [ ]:
# ad[(ad['editore']=='Angelo Longo') & (ad['testo_obb']=='obb')]
adnuovo[adnuovo['editore']=='Angelo Longo'].count()

In [ ]:
#ad.set_index(['editore','isbn'], inplace=True)

In [ ]:
#ad2 = ad.groupby(['editore','isbn']).count()

In [ ]:
#ad[['materia_nome','editore']].groupby(['editore'])['materia_nome'].groups

In [ ]:
test = ad.iloc[:100]

In [ ]:
#tips = sns.load_dataset("tips")
#tips.index

In [ ]:
#ad.head()

In [ ]:
plt.figure(figsize=(20,10))
ad2.head(20).plot(kind='barh', y='count', x='editore')

In [ ]:
#sns.set()
#sns.pairplot(ad, hue='editore');
#df = tips.groupby('smoker').mean()
#df.reset_index()
#sns.catplot(data=test, kind="box")
#g = sns.swarmplot(data=test.editore)
#g = sns.factorplot("editore", data=test, aspect=1.5, kind="count", color="b")
#g.set_xticklabels(rotation=90)
#sns.catplot(x="editore", hue="materia_nome", data=test, kind="swarm")
#sns.set_theme()
#sns.set_context("paper", font_scale=1, rc={"lines.linewidth": 2.5})
plt.figure(figsize=(20,10))
#sns.countplot(data=ad2)
#sns.countplot(x="editore", data=ad2)

#df_2 = ad.groupby('editore').count()
#df_2.reset_index(inplace=True)
#sns.barplot(x='editore', data=df_2)
g = sns.barplot(x='editore', y='count', data=ad2.head(10))
plt.xticks(rotation=90)
#g.set_xticks(range(len(s_x)+1))
#g.set_yticklabels(range(len(ad2['count'])))
#g.set_xticklabels(rotation=45)
#g.set_axis_labels

In [ ]:
ad2.index